@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Icomoon";
    src: url("/assets/icons/44393f83cfe6e236d297.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
